{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-xs-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Run 1
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Run_name_1</a></li>
                    <li><a href="#">Run_name_2</a></li>
                    <li><a href="#">Run_name_3</a></li>
                </ul>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Run 2
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Run_name_1</a></li>
                    <li><a href="#">Run_name_2</a></li>
                    <li><a href="#">Run_name_3</a></li>
                </ul>
            </div>
        </div>

        <div class="col-xs-4">
            <p>Get some <a href="#" class="btn btn-info btn" role="button">Help</a></p>
        </div>

</div>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Analysis
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Analysis_type_1</a></li>
        <li><a href="#">Analysis_type_2</a></li>
        <li><a href="#">Analysis_type_3</a></li>
    </ul>
</div>

<button type="button" class="btn btn-primary btn-block">Run Analysis</button>

<h4><a href="#" class="btn btn-info btn" role="button">View Results</a></h4>

<h4><a href="#" class="btn btn-info btn" role="button">Download</a></h4>

<h4><a href="#" class="btn btn-info btn" role="button">E-mail Results</a></h4>

<h4><a href="#" class="btn btn-info btn" role="button">Find old Results</a></h4>
{% endblock %}
