{% extends 'base.html' %}

{% block content %}
  {% load static %}
  {% static "images" as baseUrl %}

  	<!-- Home -->
  	<div class="home">
  	  <div class="background_image" style="background-image:url(static/images/background.jpg)"></div>
  		  <div class="container">
  			  <div class="row">
  				  <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Run</th>
                    <th scope="col">Curriculum</th>
                    <th scope="col">Outcomes</th>
                    <th scope="col">Quick Links</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">GetDate</th>
                    <td>GetDate</td>
                    <td>GetDate</td>
                    <td>GetDate</td>
                    <td>Report Analysis</td>
                  </tr>
                  <tr>
                    <th scope="row">GetDate</th>
                    <td>GetDate</td>
                    <td>GetDate</td>
                    <td>GetDate</td>
                    <td>Report Analysis</td>
                  </tr>
                  <tr>
                    <th scope="row">GetDate</th>
                    <td>GetDate</td>
                    <td>GetDate</td>
                    <td>GetDate</td>
                    <td>Report Analysis</td>
                  </tr>
                  <tr>
                    <th scope="row">GetDate</th>
                    <td>GetDate</td>
                    <td>GetDate</td>
                    <td>GetDate</td>
                    <td>Report Analysis</td>
                  </tr>
                </tbody>
              </table>
  					</div>
  				</div>
  			</div>
  	</div>

{% endblock %}
