<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Login</title>
 </head>
 <body>

  <!-- login -->
  <div class="login">
  <form action="login" method="post">
   {% csrf_token %}
   <input type="text" name="username" placeholder="Username"><br>
   <input type="password" name="password" placeholder="Pasword"><br>
   <input type="Submit" class="login" value="Login">
  </form>
  </div>
  <div>
  {% for message in messages%}
   <h3> {{message}} </h3>
  {% endfor %}
  </body>
  </div>

 </body>
</html>
