{% extends 'base.html' %}
{% load tags %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static '/styles/run.css' %}">
<link rel="stylesheet" href="{% static '/styles/jquery.dataTables-1.10.20.min.css' %}">
<script src="{% static '/js/jquery.dataTables-1.10.20.min.js' %}"></script>



<div class="container">
    <div class="row">

        <div class="col-xs-4">
            <div class="dropdown">
                <div class="form-group">
                  <label for="run">Run Select</label>
                  <select id="run" class="form-control">
                  </select>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="dropdown">
                <div class="form-group">
                  <label for="outcomes">Select Outcomes</label>
                  <select id="outcomes" class="form-control">
                    <option>USMLE</option>
                    <option>School ABOs</option>
                  </select>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="dropdown">
                <div class="form-group">
                  <label for="otherParams">Other Parameters</label>
                  <select id="otherParams" class="form-control">
                    <option>X</option>
                    <option>Y</option>
                    <option>Z</option>
                  </select>
                </div>
            </div>
        </div>

</div>

<div class="form-group">
    <label for="run">Name the Run:</label>
    <input type="text" class="form-control" id="run">
</div>

<button type="button" class="btn btn-primary btn-block">Map It</button>

<h4>Run Status</h4>

<h4>Run Complete
    <a href="#" class="btn btn-info btn" role="button">Reports</a>
    <button id="analysis" class="btn btn-info btn" data-toggle="modal" data-target="imagemodal">Analysis</button>
</h4>

<h4>Run Failed</h4>
<p>Error 000N: Get some <a href="#" class="btn btn-info btn" role="button">Help</a></p>


<!-- add new run to db -->
<br> <label>Add new run</label>
<form></form>   <!-- Add element to DOM for upcoming form element query -->
<form method="post" class="needs-validation" enctype="multipart/form-data"  action="/push_run_script" id="fupload">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-sm-3">
            <div class="input-group"> <span class="input-group-addon"></span>
                <input type="text" class="form-control" name="run_name" placeholder="Choose your run name" required/>
            </div>
        </div>
        <div class="form-group col-sm-7">
            <div class="input-group" style="width: 100%;">
                <input type="file" class="form-control" name="data_file" required/>
            </div>
        </div>
        <div class="form-group col-sm-2">
            <div class="input-group">
              <button type="submit" class="btn btn-info" style="">Create table in postgres</button>
            </div>
        </div>
    </div>
</form>


<!-- get run data -->
  <button id="naive-modal-btn" type="button" class="btn btn-primary">Show naive modal</button>
  <button id="original-modal-btn" type="button" class="btn btn-primary">Show original modal</button>


<!-- run modal -->
<div class="modal fade main-modal" tabindex="-1" id="original-modal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="original-modal-title"></h4>
            </div>
            <div style=" height: 750px; overflow-y: scroll;">
                <table id="original-table" class="table table-bordered table-sm" style="table-layout: fixed; width: 100%">
                    <thead class="original-thead">
                        <tr>
                            <th>Event Name</th>
                            <th>Coverage Name</th>
                            <th>Coverage Score</th>
                        </tr>
                    </thead>
                    <tbody class="original-tbody">
                        {% for entry in run1 %}
                            <tr >
                                <td style="word-wrap: break-word">{{entry.event_name}}</td>
                                <td>{{entry.coverage_name}}</td>
                                <td>{{entry.score}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- naive run modal -->
<div class="modal fade main-modal" tabindex="-1" id="naive-modal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="naive-modal-title"></h4>
            </div>
            <div class="modal-body">
              <div class="naive-data-table">
                  <div class="naive-data-table-inner">
                      <table id="naive-table" class="display nowrap" style="width:100%">
                          <thead class="naive-thead">
                            <tr></tr>
                          </thead>
                      </table>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"  tabindex="-1" id="imagemodal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"</button>
        <h4 class="modal-title" id="imagelabel"></h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" style="width: 870px; height: 600px;" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
