.naive-data-table {
  width: 100%;
  overflow: auto;
  margin-bottom: 20px
}

.naive-data-table table {
  width: 100%;
}

.naive-data-table table,
.naive-data-table th,
.naive-data-table td {
  background-color: black;
  color: white;
  border: 1px solid black;
  width: 100px;
  min-width: 100px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.naive-data-table tbody {
  margin-top: 20px;
}
.naive-data-table td {
  background-color: white;
  width: 100px;
  color: black;
  border: 1px solid black;
}

#original-table td {
  word-break: break-word;
}
